 <section class="first-sec">
    {{> 03-organisms/header/header}}
    {{> 03-organisms/first-section/first-section}}
</section>
<section class="second-sec">
    {{> 03-organisms/block-list/block-list}}
</section>
<section class="third-sec">
    {{> 03-organisms/block-info/block-info-btn}}
</section>
<section class="forth-sec">
    {{> 03-organisms/block-info/block-info-reverse}}
</section>
<hr>
<section class="five-sec">
    {{> 03-organisms/block-list-inline/block-list-inline}}
</section>
<section class="footer-sec">
    {{> 03-organisms/footer/footer}}
</section>