<div class="container">
    <div class="header-logo">{{> 01-atoms/logo/logo-black}}</div>
    <div class="header-nav-middle">{{> 01-atoms/buttons/link}}{{> 01-atoms/buttons/link}}{{> 01-atoms/buttons/link}}</div>
    <div class="header-nav-right">{{> 01-atoms/buttons/link}}{{> 01-atoms/buttons/link}}</div>
</div>