.icon {
    display: block;
    width: 57px;
    height: 57px;
    background-color: #01ECA2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
}