<div class="block-list-item">
   <div class="block-list-item-left">
       {{> 01-atoms/typography/h2}}
       {{> 01-atoms/typography/paragraph}}
   </div>
   <div class="block-list-item-right">
       {{> 01-atoms/buttons/button~primary}}
   </div>
</div>