<div class="block-list-inline">
    {{> 02-molecules/block-list-item-inline/block-list-item-inline}}
    {{> 02-molecules/block-list-item-inline/block-list-item-inline}}
    {{> 02-molecules/block-list-item-inline/block-list-item-inline}}
</div>