.first-sec {
    background-color: $pink;
    padding-top: 50px;
    height: 100vh;
}

.first-sec > .first-section {
    padding-top: 50px;
}

.second-sec, .forth-sec, .five-sec {
    margin-top: 100px;
    margin-bottom: 100px;
}

hr {
    width: 80%;
    margin: 0 auto;
}
