<div class="block-info-btn">
    <div class="block-info-btn-img">
        {{> 01-atoms/images/img-info}}
    </div>
    <div class="block-info-btn-content">
        {{> 02-molecules/block-list-item-inline/block-list-item-inline}}
    </div>
</div>