<div class="block-info-reverse">
    <div class="block-info-reverse-content">
        {{> 02-molecules/block-list-item-inline/block-list-item-inline}}
    </div>
    <div class="block-info-reverse-img">
        {{> 01-atoms/images/img-info-reverse}}
    </div>
</div>